.separador-blue{
	background-color: #0d47a1;
	padding-top: 0.5%;
	width: 65%;
	display: inline-block;
	float: left;
}

#titulo-cad{
	margin-top: 7px;
	padding-left: 24px;
	padding-right: 24px; 
	color: #0d47a1;
}

#cont-form{
	padding-left: 24px; 
	padding-right: 24px;
}



@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
  #cont-form{
  	padding-left: 10px; 
  	padding-right: 20px;
  }
  h3{
  	font-size: 25px;
  }
}
